.container
  .egg
    - var legs = 0
    ul
      while legs < 7
        -legs++
        li
    .face
      .eyes
      .smile
      .cheeks
      .shine
.stars
    - var star = 0
    while star < 20
      -star++
      span(class="star")