.container
  .egg
   - var legs = 0
   ul
    while legs < 7
      -legs++
      li
    .face
      .eyes
      .smile
      .cheeks
      .shine
  .shadow(id="egg-shadow")
  .heart
    .light
  .ghost
    - var legs = 0
    ul
      while legs < 9
        -legs++
        li
    .face
      .eyes
      .smile
      .cheeks
  .shadow(id="ghost-shadow")
