.container
  .earth
    -for(var i = 0; i < 7; i++)
      .countries
    .eyes
      .eyes.opened
      .eyes.closed
    .tear
  .excited !
  .shadow
  .moon
    -for(var i = 0; i < 5; i++)
      .craters
    .eyes
  .sun
    .left-eye
      .left-eyelash
    .right-eye
      .right-eyelash
    .rays
      -for(var i = 0; i < 10; i++)
        .beam
  .stars1
  .stars2
  .stars3