.container
  .me
    .hair
      .first-row
         -for(var i = 0; i < 5; i++)
           span
      .second-row
         -for(var i = 0; i < 5; i++)
           span
      .third-row
         -for(var i = 0; i < 5; i++)
           span
      .fourth-row
         -for(var i = 0; i < 5; i++)
           span
      .fifth-row
         -for(var i = 0; i < 5; i++)
           span
    .shirt
    .neck 
    .head
      .bangs
        -for(var i = 0; i < 3; i++)
          span
      .bangs-upper
        -for(var i = 0; i < 3; i++)
          span
      .face
        .glasses
          .left
            .shine
          .right
            .shine
        .eyes
  p are you gonna eat that?
    
